<template>
  <div>
    <div class="row col mb-3">
      <SearchField v-model="query" @search="search"></SearchField>
    </div>

    <div class="row col">
      <SearchResults :results="results"></SearchResults>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Inject } from "vue-property-decorator";
import SearchField from "@/components/SearchField.vue";
import SearchResults from "./components/SearchResults.vue";
import { SearchResult } from "@/models/SearchResult";
import { musicSearch } from "../../services";
import {
  MusicSearchService,
  MusicServiceToken
} from "../../services/MusicSearch";
import { mapGetters, mapActions } from "vuex";

@Component({
  components: {
    SearchField,
    SearchResults
  },
  computed: {
    ...mapGetters("music", {
      results: "results",
      activeQuery: "query"
    })
  },
  methods: {
    ...mapActions("music", ["search"])
  },
  watch: {
    activeQuery(this: MusicSearch, query) {
      this.query = query;
      // this.$router.push({
      this.$router.replace({
        name: "search",
        query: {
          query
        }
      });
    }
  },
  beforeRouteEnter(this: MusicSearch, to, from, next) {
    next();
  },
  beforeRouteLeave(this: MusicSearch, to, from, next) {
    next();
  },
  beforeRouteUpdate(this: MusicSearch, to, from, next) {
    const query = to.query["query"];
    if (query && "string" == typeof query) {
      this.search(query);
    }
    next();
  }
})
export default class MusicSearch extends Vue {
  query = "";

  // Action
  search!: (query: string) => void;

  mounted() {
    const query = this.$route.query["query"];
    if (query && "string" == typeof query) {
      this.search(query);
    } else {
      this.search("batman");
    }
  }
}
</script>
