<template>
  <!-- .row>.col*2 -->
  <div class="row">
    <div class="col">
      <search-field v-model="query" placeholder="Search" @search="search"/>

      <!-- {{query}} -->

      <PlaylistsList
        :playlists="filtered"
        :selected="selected"
        @selectedChange="$router.push('/playlists/'+$event.id)"
      />
    </div>
    <div class="col">
      <router-view></router-view>
      <!-- <template v-if="selected">
        <PlaylistDetails :playlist="selected" v-if="mode == 'show'" @edit="edit"/>
        <PlaylistForm :playlist="selected" @cancel="cancel" @save="save" v-else/>
      </template>
      <div v-else>Please select playlist</div>-->
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import PlaylistDetails from "./components/PlaylistDetails.vue";
import PlaylistsList from "./components/PlaylistsList.vue";
import { Playlist } from "@/models/Playlist";
import PlaylistForm from "./components/PlaylistForm.vue";
import { mapGetters, mapActions } from "vuex";

@Component({
  components: { PlaylistDetails, PlaylistsList, PlaylistForm },
  computed: {
    ...mapGetters("playlists", ["selected", "filtered"])
  },
  methods: {
    ...mapActions("playlists", ["search", "select"])
  }
})
export default class Playlists extends Vue {
  query = "";
}
</script>

<style>
</style>
