
<template>
  <PlaylistDetails v-if="selected" :playlist="selected" @edit="
  $router.push($route.params.id+'/edit')"/>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
import PlaylistDetails from "./components/PlaylistDetails.vue";
import Component from "vue-class-component";
import Vue from "vue";

@Component({
  beforeRouteEnter(this: SelectedDetails, to, from, next) {
    // this.select(to.params.id);
    next();
  },
  beforeRouteUpdate(this: SelectedDetails, to, from, next) {
    this.select(to.params.id);
    next();
  },
  components: {
    PlaylistDetails
  },
  computed: {
    ...mapGetters("playlists", ["selected", "filtered"])
  },
  methods: {
    ...mapActions("playlists", ["search", "select"])
  }
})
export default class SelectedDetails extends Vue {
  select!: (id: any) => void;
}
</script>

