
<template>
  <PlaylistForm :playlist="selected" 
  @cancel="$router.replace('playlists')" @save="save"/>
</template>

<script lang="ts">
import { mapActions } from "vuex";
import { mapGetters } from "vuex";

import PlaylistForm from "./components/PlaylistForm.vue";
import Component from "vue-class-component";
import Vue from "vue";
import { Playlist } from "@/models/Playlist";

@Component({
  components: {
    PlaylistForm
  },
  computed: {
    ...mapGetters("playlists", ["selected", "filtered"])
  },
  methods: {
    ...mapActions("playlists", ["search", "select"]),
    save(draft: Playlist) {
      this.$store.dispatch("playlists/save", draft);
    }
  }
})
export default class SelectedDetails extends Vue {}
</script>

