<template>
  <div>
    <div class="list-group">
      <div
        class="list-group-item list-group-item-action"
        :class="{ active: selected && selected.id == playlist.id}"
        v-for="(playlist,index) of playlists"
        :key="playlist.id"
        @click="select(playlist)"
      >{{index+1}}. {{playlist.name}}</div>
    </div>
    <p>Number of favorites: {{favouritesCount}}</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Playlist } from "@/models/Playlist";
import { Prop, Emit, Watch } from "vue-property-decorator";

@Component({})
export default class PlaylistsList extends Vue {
  @Prop({
    required: true
  })
  playlists!: Playlist[];

  // @Watch('playlists') onPlaylistChange(newValue){/*  */}

  @Prop({}) selected?: Playlist;

  get favouritesCount() {
    return this.playlists.filter(p => p.favorite).length;
  }

  select(playlist: Playlist) {
    this.$emit("selectedChange", playlist);
  }

  // @Emit('selectedChange') select(playlist: Playlist) {
  //   return playlist;
  // }

  // isSelected(playlist:Playlist){
  //   return { active: this.selected.id == playlist.id}
  // }
}
</script>

<style>
</style>  