<template>
  <Card>
    <!-- <template v-slot:title=""> -->
    <!-- <template v-slot:[ getSlotName() ]=""> -->
    <template #title>
      <h3>Details</h3>
    </template>

    <!-- dl>(dt+dd)*3 -->
    <dl :title="playlist.name">
      <dt>Name:</dt>
      <dd v-text="playlist.name"></dd>

      <dt>Favourite:</dt>
      <dd>{{playlist.favorite | yesno(' ;-) ') }}</dd>

      <dt>Color:</dt>
      <dd
        :style="{
        backgroundColor:playlist.color,
        color:playlist.color
      }"
      >{{playlist.color}}</dd>
    </dl>
    <template #footer>
      <input type="button" value="Edit" @click="edit(playlist.id)" class="btn btn-info">
    </template>
  </Card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Playlist, Track } from "../../../models/Playlist";
import { Prop } from "vue-property-decorator";
import PlaylistForm from "./PlaylistForm.vue";

@Component({
  // components: { PlaylistForm },
  filters: {
    yesno(value: boolean, suffix = false) {
      return (value ? "Yes" : "No") + suffix;
    }
  }
})
export default class PlaylistDetails extends Vue {
  @Prop({
    required: true
  })
  playlist!: Playlist;

  edit() {
    this.$emit("edit");
  }

  // beforeCreate() {
  //   console.log('beforeCreate', this.playlist);
  // }
  // created() {
  //   console.log('created', this.playlist);
  // }
  // beforeMount() {
  //   console.log('beforeMount', this.playlist);
  // }
  // mounted() {
  //   console.log('mounted', this.playlist);
  // }
  // beforeUpdate() {
  //   console.log('beforeUpdate', this.playlist);
  // }
  // updated() {
  //   console.log('updated', this.playlist);
  // }
  // beforeDestroy() {
  //   console.log('beforeDestroy', this.playlist);
  // }
  // destroyed() {
  //   console.log('destroyed', this.playlist);
  // }
}
</script>

<style>
</style>
