<template>
  <form @submit.prevent="save" @keydown.enter.prevent>
    <Card title="Edit" @close="cancel">
      <div class="form-group" :class="$style.placki">
        <label>Name:</label>
        <!-- @keydown.enter.stop="cancel" -->
        <input type="text" class="form-control" v-model.trim="draft.name" ref="nameRef">
      </div>
      <div class="form-group">
        <label>Favorite:</label>
        <input type="checkbox" v-model="draft.favorite">
      </div>
      <div class="form-group">
        <label>Color:</label>
        <input type="color" v-model="draft.color">
      </div>

      <!-- <template #footer="props"> -->
      <!-- <template #footer="{cancel}"> -->
      <template v-slot:footer="props">
        <input type="button" value="Cancel" @click="props.close" class="btn btn-danger">
        <input type="submit" value="Save" class="btn btn-success">
      </template>
    </Card>
  </form>
</template>

<style module>
.placki {
  color: red;
}
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Emit } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";
import Playlists from "../Playlists.vue";

@Component({
  // created(this: PlaylistForm) {
  //   this.draft = { ...this.playlist };
  // }
})
export default class PlaylistForm extends Vue {
  @Prop() playlist!: Playlist;

  draft!: Playlist;
  // $style!: {
  //   placki: string;
  // };

  created() {
    // this.$style["placki"];
    // (this.$parent as Playlists).playlists
    // if(this.$parent instanceof Playlists){
    ///
    // }
    this.draft = { ...this.playlist };
  }

  mounted() {
    if (this.$refs.nameRef instanceof HTMLInputElement) {
      this.$refs.nameRef.focus();
    }
  }

  // @Emit cancel(){}
  cancel() {
    this.$emit("cancel");
  }

  save(event: Event) {
    // event.preventDefault()

    this.$emit("save", this.draft);
  }
}
</script>

