<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple app</title>
  </head>
  <body>
    <h1>Welcome to VueJS</h1>

    <div id="root">
      Ala ma <span v-on:click="changeMessage()">{{ message }}</span>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      var app = new Vue({
        el: "#root",
        // template: "<div> ala ma {{message}}</div>",
        data: {
          message: "kota"
        },
        methods: {
          changeMessage() {
            this.message = "psa";
          }
        }
      });
    </script>
  </body>
</html>
