<template>
  <div>
    <h3>Counter</h3>

    <p>{{counter}}</p>

    <button @click="increment(1)">Inc</button>
    <button @click="decrement()">Dec</button>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapState, mapGetters, mapActions } from "vuex";

@Component({
  computed: {
    ...mapGetters("counter", ["counter"])
  },
  methods: {
    ...mapActions("counter", ["increment", "decrement"])
  }
})
export default class CounterView extends Vue {
  // get counter() {
  //   return this.$store.state.counter;
  // }
  counter!: number;

  // increment() {
  //   this.$store.dispatch("increment");
  // }
}
</script>
