<template>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <slot name="title">
          <h3>{{title}}</h3>
        </slot>
      </div>

      <slot></slot>
      <!-- <slot name="default"></slot> -->
    </div>
    <div class="card-footer">
      <slot name="footer" v-bind="{close:close}"></slot>
    </div>
  </div>
</template>

// Advanced example"
// https://css-tricks.com/using-scoped-slots-in-vue-js-to-abstract-functionality/

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class Card extends Vue {
  @Prop() title!: string;

  close() {
    this.$emit("close");
  }

  mounted() {
    // debugger
    // console.log(this.$slots);
    // console.log(this.$scopedSlots);
  }
}
</script>

