<template>
  <div class="input-group">
    <input
      v-bind="$attrs"
      ref="inputRef"
      type="text"
      class="form-control"
      v-on="$listeners"
      @keyup.enter="search"
      @input="$emit('inputValue',$event.target.value)"
    >
    <input type="button" value="Search" @click="search">
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";

@Component({
  inheritAttrs: false,
  model: {
    prop: "value",
    event: "inputValue"
  }
})
export default class SearchField extends Vue {
  search() {
    if (!(this.$refs.inputRef instanceof HTMLInputElement)) {
      throw "Needs HTMLInputElement!";
    }
    this.$emit("search", this.$refs.inputRef.value);
  }
}
</script>

// :placeholder="$attrs.placeholder"

// v-bind="{
//   placeholder: $attrs.placeholder  
// }"


// v-on:input="$listeners.input"


// v-on="{input: $listeners.input}"
    
// v-on="$listeners"