<template>
  <div class="card">
    <img :src="album.image" class="card-img-top">

    <div class="card-body">
      <h5 class="card-title">{{album.name}}</h5>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import SearchField from "@/components/SearchField.vue";
import { SearchResult } from "../../../models/SearchResult";

@Component({})
export default class AlbumCard extends Vue {
  @Prop() album!: SearchResult;
}
</script>