<template>
  <div class="card-group">
    <template v-for="(result,index) in results">
      <AlbumCard :album="result" :key="result.id"/>

      <div v-if="(index+1) % 4 == 0" style="flex: 1 1 100%" :key="result.id+'_separator'"></div>
    </template>
  </div>
</template>

<style scoped>
.card {
  max-width: 25%;
}
</style>


<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import AlbumCard from "./AlbumCard.vue";
import { SearchResult } from "../../../models/SearchResult";

@Component({
  components: {
    AlbumCard
  }
})
export default class SearchResults extends Vue {
  @Prop() results!: SearchResult[];

  // created() {
  //   debugger;
  //   this.$style;
  // }
}

// Simple Component Config
// const SearchResults = {
//   components: {
//     AlbumCard
//   }
// };
// export default SearchResults;
</script>